body *{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    display: flex;
    min-height: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

.conteudo{
    height: 667px;
    width: 375px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.visor{
    display: flex;
    flex-direction: column;
    margin-right: 23px;
    background-color: black;
}

.linha{
    text-align: right;
    border: none;
    font-size: 60pt;
    width: 100%;
    background-color: black;
    color: white;
}

.result{
    text-align: right;
    border: none;
    font-size: 22pt;
    width: 100%;
    background-color: black;
    color: rgb(97, 97, 97);
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-around;
    margin-bottom: 10px;
}

.buttons input[type=button]{
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-appearance: none;
    font-size: 32pt;
    margin-top: 10px;
}

#Zero{
    flex-grow: .7;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100%;
    -webkit-appearance: none;
    text-align: left;
    padding-left: 28px;
}

.bgray{
    background-color: gray;
}

.borange{
    background-color: rgb(255, 136, 0);
    color: white;
}

.bdarkgray{
    background-color: rgb(58, 58, 58);
    color: white;
}