body *{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: black;
    display: flex;
    min-height: 100vh !important;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.conteudo{
    height: 100%;
    width: 375px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.visor{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    background-color: black;
}

.linha{
    text-align: right;
    border: none;
    font-size: 60pt;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1px;
    width: 100%;
    background-color: black;
    color: white;
    outline: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 25% 25% 25% 25%;
}

.buttons input[type=button]{
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-appearance: none;
    font-size: 30pt;
    margin-top: 10px;
}

.buttons input[type=button]:active{
    animation: Opaco .8s;
}

#Zero{
    flex-grow: .7;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100%;
    -webkit-appearance: none;
    text-align: left;
    padding-left: 28px;
}

.bgray{
    background-color: rgb(160, 160, 160);
    color: black;
}

.borange{
    background-color: rgb(254, 149, 5);
    color: white;
}

.bdarkgray{
    background-color: rgb(48, 48, 48);
    color: white;
}

@keyframes Opaco{
    from{
        background-color: white;
        opacity: .4;
    }

    to{
        opacity: '';
    }
}